:root {
    --colorWhite: #ffffff;
    --colorBlack: #000000;
    --colorRed: red;
    --fontSize-sm: 16px;
    --fontFamily: 'Arial, Helvetica, sans-serif';
    --fontTitle: 'Arial';
    --fontBody: 'Helvetica';
}

* {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

        /* SIGN IN COMPONENT */


.main {
    background-color: coral;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
  }
  
  .app {
    width: 400px;
    text-align: center; 
    color: black;
  }
  
  .app h3 {
    text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 80px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
  }
  
  .empezamosText {
    font-size: 50px;
    margin: 0;
  }
  

  
  .input-mail-password {
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    outline: 2px solid #050504;
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #070707;
    outline-offset: 3px;
    padding: 10px 1rem;
    transition: 0.25s;
    font-weight: 70px;
    font-size: 20px;
    width: 100%; 
  }
  
  .input-mail-password:focus {
    outline-offset: 5px;
    background-color: #fff;
  }

  .input-mail-password::placeholder {
    color: rgb(109, 108, 108);
  }
  
  .input-mail-password:not(:placeholder-shown) {
    background-color: #fff;
  }
  
  
 
  
  .button-signIn {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255, 0.6);
    --animation-color: #050606;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    margin-top: 30px;
    margin-top: 30px;
    font-size: 20px;
    height: 50px;
    background: transparent;
    padding: 0 20px; 
    border: none;
  
  }
  

  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
    
  }
  
  .button-signIn:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color));
  }
  
  .registrate {
    font-size: 20px;
    margin-top: 45px;
  }
  
  .link-registrate {
    color: white;
  }


   /* SIGN UP COMPONENT */

.mainSignUp {
    background-color: coral;
    color: #000000;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    height: 612px;
  }
  .mainSignUp div[v-show="errorMsg"] {
    color: red;
    margin-top: 20px;
    font-size: 1.2rem;
  }

  .header {
    margin-bottom: 30px;
  }

  .header-description {
    text-align: center;
  }

  .header-title {
    margin: 0;
    font-size: 4.5rem;
    font-weight: bold;
    margin-top: -40px;
    
  }

  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
  }
  
  .blink {
    animation: blink 2s infinite;
  }

  .header-subtitle {
    margin-top: 30px;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: -25px;
  }

  .form-sign-up {
    width: 100%;
    max-width: 400px;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-input {
    margin-bottom: 10px;
    width: 100%;
  }


  .form-input-field {
    margin-top: 40px;
    padding: 10px;
    border-radius: 10px;
    outline: 2px solid #050504;
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #070707;
    outline-offset: 3px;
    padding: 10px 1rem;
    transition: 0.25s;
    font-weight: 70px;
    font-size: 20px;
    width: 100%; 
  }
    
  .form-input-field:not(:placeholder-shown) {
    background-color: #fff;
  }

  

  .form-input-field:focus {
    outline-offset: 5px;
    background-color: #fff;
  
  }

  

  /* Estilos del bot贸n */
  .signUp-button {
    --primary-color: #645bff;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    font-size: 15px;
    margin-top: 40px;
  }
  
  .signUp-button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .signUp-button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  .signUp-button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  .signUp-button:hover {
    background-color: var(--hover-color);
  }
  
  .signUp-button:hover .arrow {
    background: var(--secondary-color);
  }
  
  .signUp-button:hover .arrow:before {
    right: 0;
  }
  
  

  


  /* NAV BAR COMPONENT */

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: coral;
    height: 80px;
    padding: 0 50px;
  }
  
  .menu img {
    height: 60px;
  }
  
  .menu ul {
    display: flex;
    list-style: none;
    margin: 0;
  }
  
  .menu li {
    margin: 0 10px;
  }
  
  .menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    position: relative;
  }
  
  .menu a:hover::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: white;
  }
  
  .menu p {
    color: white;
    font-size: 16px;
    margin: 0;
    margin-right: 10px;
  }
  
  .gradient-text {
    background-image: linear-gradient(
      -225deg,
      #040304 0%,
      #050505 29%,
      #060506 67%,
      #050505 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
 

   /* FOOTER COMPONENT */

   .footer {
    background-color: #231557;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 16px;
  }
  
  .footer h4 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    animation: slidein 1s ease-in-out forwards;
  }
  
  @keyframes slidein {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

   /* TASK COMPONENT */

   body {
    background-color: black;
    color: coral;
  }
  
  /* Estilos para el contenedor de tarea */
  .container-task {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: black;
    color: coral;
  }

  .div1 {
    flex: 1 1 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .underlined-text {
    text-decoration: underline;
  font-size: 40px;
  }
  
  /* Estilos para el mensaje de error */
  .error-text {
    color: coral;
  }
  
  /* Estilos para los inputs animados */
  .group {
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  .input {
    font-size: 1.2rem;
    padding: 0.5rem 0.5rem 0.5rem 0;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid coral;
    background-color: transparent;
    color: coral;
  }

  .highlight {
    position: absolute;
    height: 60%;
    width: 100%;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }
  
  .bar {
    position: relative;
    display: block;
    width: 100%;
  }
  
  .animation1,
  .animation2 {
    position: absolute;
    pointer-events: none;
    font-size: 1rem;
    color: coral;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  
  .animation1 {
    left: 0;
    top: 1.2rem;
  }
  
  .animation2 {
    left: 0;
    top: 3.2rem;
  }

  .div3 {
    flex: 1 1 100%;
    text-align: center;
    margin-top: 2rem;
  }
  
  .fancy {
    position: relative;
    display: inline-block;
    padding: 0.7em 1.5em;
    margin: 0.5em 0.15em;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    overflow: hidden;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
  }
  
  .fancy:hover {
    color: #fff;
  }
  
  .fancy:hover:before {
    height: 100%;
    left: 0;
    right: 0;
  }
  
  .top-key,
  button.fancy {
    background-color: coral;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    transition: all 0.35s;
  }
  
  button.fancy:hover {
    background-color: #000;
    color: coral;
  }
  
  button.fancy .top-key,
  button.fancy .bottom-key-1,
  button.fancy .bottom-key-2 {
    position: absolute;
    background-color: #000;
    height: 4px;
    width: 100%;
    left: 0;
    transform: translateY(-50%);
  }
  
  button.fancy .top-key {
    top: 0;
  }
  
  button.fancy .bottom-key-1 {
    bottom: 50%;
  }
  
  button.fancy .bottom-key-2 {
    bottom: 0;
  }
  
  button.fancy .text {
    position: relative;
    z-index: 1;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  button.fancy:hover .top-key,
  button.fancy:hover .bottom-key-1,
  button.fancy:hover .bottom-key-2 {
    height: 100%;
  }
  
  .top-key {
    top: -25px;
    left: 50%;
    z-index: 2;
  }



  /*TASKITEM */ 
  


  .task-item-fondo {
    background-color: black;
    color: coral;
    display: flex;
    justify-content: center;
  }
  
  .card {
    background-color: black;
    color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .done {
    text-decoration: line-through;
  }
  
  .pending {
    text-decoration: none;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .botton1 {
    background-color: coral;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    transition: all 0.35s;
    margin-right: 10px;
  }
  
  .botton1:hover {
    background-color: #000;
    color: coral;
  }
  
  .botton2 {
    background-color: coral;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    transition: all 0.35s;
    margin-right: 10px;
    
  }
  
  .botton2:hover {
    background-color: #000;
    color: coral;
  }
  
  .botton3 {
    background-color: coral;
    border: none;
    cursor: pointer;
    margin-right: 10px;

  }
  
  .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .modal h2 {
    color: coral;
  }
  
  .modal button {
    background-color: coral;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    transition: all 0.35s;
    margin-right: 10px;
  }
  
  .modal button:hover {
    background-color: #000;
    color: rgb(16, 16, 16);
  }
  
  .modal button:nth-child(2) {
    background-color: #fff;
    color: coral;
    margin-right: 0px;
  }
  
  .nuevaTarea {
    color: coral;
  opacity: 0.7;
  }
  





  /* Account View 


/*----------------------------------------------------------------------------------------------*/
/* ------------------------- Smaller than 766px (mobile) ------------------------- */


@media (max-width: 766px) {

  :root {
    --colorWhite: #ffffff;
    --colorBlack: #000000;
    --colorRed: red;
    --fontSize-sm: 16px;
    --fontFamily: "Arial, Helvetica, sans-serif";
    --fontTitle: "Arial";
    --fontBody: "Helvetica";
  }
  
  * {
    font-family: sans-serif;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  /* SignIn Component */
  
  .main {
    background-color: coral;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100vh; /* Establecer altura completa de la pantalla */
  }
  
  .app {
    width: 90vw; /* Usa el ancho del viewport (ventana de visualizaci贸n) del 90% */
    text-align: center; /* Centrar texto */
    color: black;
  }
  
  .app h3 {
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 10vw; /* Usa el ancho del viewport del 10% para la fuente */
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  
  .empezamosText {
    font-size: 8vw; /* Usa el ancho del viewport del 8% para la fuente */
    margin: 0;
  }
  
  .signIn {
    font-size: 6vw; /* Usa el ancho del viewport del 6% para la fuente */
  }
  
  .registrate {
    font-size: 3vw; /* Usa el ancho del viewport del 3% para la fuente */
    margin-top: 3vh; /* Usa la altura del viewport del 3% para la separaci贸n superior */
  }
  
  .passInput {
    font-size: 6vw; /* Usa el ancho del viewport del 6% para la fuente */
  }
  
  .button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    margin-top: 3vh; /* Usa la altura del viewport del 3% para la separaci贸n superior */
  }
  
  /* button styling */
  .button {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255, 0.6);
    --animation-color: #050606;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border}

  }


  

  /*  HOME VIEW */

  
  @media screen and (max-width: 480px) {
    .menu {
      height: auto;
      flex-direction: column;
      padding: 10px;
    }
  
    .menu img {
      height: 40px;
      margin-bottom: 10px;
    }
  
    .menu ul {
      margin-top: 10px;
      flex-direction: column;
      align-items: center;
    }
  
    .menu li {
      margin: 10px 0;
    }
  
    .menu a {
      font-size: 16px;
    }
  
    .menu p {
      font-size: 14px;
    }
  
    .footer h4 {
      font-size: 16px;
    }
  
    .container-task {
      padding: 1rem;
    }
  
    .underlined-text {
      font-size: 28px;
    }
  
    .input {
      font-size: 1rem;
    }
  
    .animation1,
    .animation2 {
      font-size: 0.8rem;
    }
  
    .fancy {
      font-size: 1rem;
    }
  }
